/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import 'vis-timeline/styles/vis-timeline-graph2d.min.css';
@import 'leaflet/dist/leaflet.css';

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}
