:host {
  display: flex;
  flex-direction: column;
  min-height: 0;
  min-width: 0;
  height: 100%;
}

.timeline-wrapper {
  flex: 1 1 0;
  min-height: 0;
  min-width: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
}

.timeline-container {
  flex: 1 1 0;
  min-height: 300px;
  min-width: 0;
  width: 100%;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  background: #fff;
}
