:host {
  display: flex;
  flex-direction: column;
  min-height: 0;
  height: 100%;
}

.map-wrapper {
  flex: 1 1 0;
  min-height: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.map-container {
  flex: 1 1 0;
  min-height: 0;
  width: 100%;
  background: #e8e8e8;
}
